body {
    background: url(img/pozz.jpg) no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sadrzaj {
    position: absolute;
    top: 140px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding: 20px;
}

.naslov, .meni {
    position: absolute;
    font-family: 'Shadows Into Light Two', cursive;
    color: white;
}

.naslov {
    font-size: 2.8em;
    left: 40px;
    top: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.meni {
    right: 30px;
    top: 22px;
    font-size: 1.8em;
    margin-left: 370px;
}
.naslovna{
    top:0;
    left:0;
    width: 100%;
    height: 117px;
    position: fixed;
    background: url(img/meni.png) repeat-x left top scroll;
    z-index: 100;
}
.meni div {
    margin-right: 10px;
    display: inline-block;
}
.meni div img{
    margin-right: 5px;
}
.meni a:link, a:visited, a:hover, a:active {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body #links {
    text-align: center;
}

body #links a img {
    padding: 6px;
}

.naslovna-slika {
    width: 700px;
    top: -20px;
    /*float: right;*/
    /*margin-right: 20px;*/
}

.padd {
    padding: 15px;
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

html.portfolio {
    overflow-y: scroll;
}

.index .sadrzaj img {
    padding: 2px;
    border: 1px solid #202019;
    background-color: #5d5147;
}