body { 
  background: url(img/poz.jpg) no-repeat left top fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#links{
  position: absolute;
  top: 180px;
}
.naslov, .meni{
	position: absolute;
	font-family: 'Shadows Into Light Two', cursive;
	color: white;
}
.naslov{
	font-size: 2.5em;
	left: 30px;
    top: 15px;
}
.meni{
    right: 30px;
    top: 26px;
	font-size: 1.7em;
}
.meni span{
	margin-right: 10px;
}

.meni a:link, a:visited, a:hover, a:active{
	color: white;
}