<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Gifts</title>
	<link rel="stylesheet" href="static/main.min.css?v=1.1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-controller="mainCtrl">
	<header></header>
	<section class="p-gifts">
		<div class="container">
			<div class="category-section">
				<div class="category-wrapper" ng-if="! data.showFavs">
					<p class="category">
						<span class="price-label">Price:</span>
						<rzslider
							rz-slider-model="priceSlider.min"
							rz-slider-high="priceSlider.max"
							rz-slider-options="priceSlider.options" style="width: 200px;">
						</rzslider>
					</p>
				</div>
				<a href class="favourite-items-wrapper" ng-click="data.showFavs = ! data.showFavs">
					<p class="favourite-items-text">
						<span ng-if="! data.showFavs">Favorite items
							<span class="number-of-items js-number-of-items ng-cloak">({{ data.favs.length }})</span>
						</span>
						<span ng-if="data.showFavs" class="ng-cloak"><span class="fa fa-chevron-left mr"></span>All items</span>
					</p>
				</a>
			</div>
			<div class="checkbox-section" ng-if="! data.showFavs">
				<div class="checkbox-item">
					<a href="#" ng-click="selectCategory('all')">All Categories</a>
				</div>
				<div class="checkbox-item ng-cloak" ng-repeat="category in data.categories">
					<input type="checkbox" ng-model="category.show" id="cat{{$index}}"/>
					<label for="cat{{$index}}"><span ng-click="selectCategory(category.name); $event.stopPropagation(); $event.preventDefault();">{{ category.name }}</span></label>
				</div>
			</div>
			<div class="sliders-section">
				
			</div>
			<div class="suggestions-section" ng-if="! data.showFavs">
				<a href="#" class="suggestion-text">Suggestions <span class="suggestions-number ng-cloak">({{ filtered.length }})</span></a>
			</div>
			<div class="products-section">
				<div class="single-product ng-cloak" ng-repeat="gift in data.gifts | filterCategories: data.categories | filterPrices: priceSlider as filtered" ng-if="!data.showFavs">
					<div class="image-wrapper">
						<img src="{{ gift.img }}" alt="">
					</div>
					<div class="data-wrapper">
						<p class="product-name">{{ gift.name }}</p>
						<p class="price">${{gift.min}} - ${{gift.max}}</p>
						<p class="tags"><span ng-repeat="tag in gift.tags"><a href="#" ng-click="selectCategory(tag)">{{ tag }}</a>{{$last ? '' : ', '}}</span></p>
						<a href ng-class="{'fa-heart-o': data.favs.indexOf(gift.name) == -1}" class="like fa fa-heart fa-2x" ng-click="toggleFav(gift);"></a>
					</div>
				</div>
				<div class="single-product ng-cloak" ng-repeat="gift in data.gifts | filterFavs: data.favs" ng-if="data.showFavs">
					<div class="image-wrapper">
						<img src="{{ gift.img }}" alt="">
					</div>
					<div class="data-wrapper">
						<p class="product-name">{{ gift.name }}</p>
						<p class="price">${{gift.min}} - ${{gift.max}}</p>
						<p class="tags"><span ng-repeat="tag in gift.tags"><a href="#" ng-click="selectCategory(tag)">{{ tag }}</a>{{$last ? '' : ', '}}</span></p>
						<a href ng-class="{'fa-heart-o': data.favs.indexOf(gift.name) == -1}" class="like fa fa-heart fa-2x" ng-click="toggleFav(gift);"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="static/bundle.min.js?v=1.1"></script>
</body>
</html>